.wrap{
    width: 100%;
    height: 90vh;
    /* background-image:url('/public/videos/main.mp4') ;
    background-size: cover;
    background-position: center; */
}


.sescondWrap{
    width: 93%;
    height: 100vh;
    margin: 0 auto;
}